html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


form div + div {
  margin-top: 1em;
}

/*label {*/
  display: inline-block;
  width: 90px;
}

input, textarea {

  width: 1500px;

}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  height: 5em;
}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*targeted styles*/
#heading1{
color: white;
}

#topcat{
vertical-align: top;
padding-left: 700px;
margin-top: 5px;
}
.customHr {
    width: 95%
    font-size: 1px;
    color: #9dbae8;
    line-height: 15px;

    background-color: #9dbae8;
    margin-top: -6px;
    margin-bottom: 10px;
}
#head{

  text-align: center;
}
/*top menu section*/
.topnav {

    width: auto;
    height: 35px;
    font-size: 16px;
    text-align: center;
    color: #a3bfed;
}

.topnav ul {
    height: auto;
    margin: 0px;
}
.topnav li {
display: inline;
background-color: #9dbae8;
border: 1px solid;
margin-left: 5px;
color: #a3bfed;


}
.topnav  a {
    text-decoration: none;
    color: #000;
    padding: 8px 8px 8px 8px;
}

#title1{
background-color: #0382a5;
}
#snowCat{
max-width: 70%
align-content: right;
}
#fp{

  background-color: #9dbae8;
}
#title2{
background-color: #ced3dd;
}
#fooseball{

}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}
#tabletop{
  background-color: #ced3dd;

}
.tg-wrap{
border: 1px solid;
width: auto;
}
#to-do-list{

}
#title3{
  background-color: #ced3dd;

}
#contact{
  background-color: #ced3dd;

}
#title4{

}
#mailform{

  max-width: auto;
}
#name{

}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
#msg{

}
.button{
  padding-bottom: 50px;
  padding-top: 20px:;
}

#buttonSection {



}

#pizza{

}